<app-hero-section
  [backgroundImage]="'assets/fleet/fleetHeader.webp'"
  [title]="'Meet our wings'"
  [subtitle]="'Modern aircraft, maximum comfort, and panoramic views.'"
  [buttonText]="''"
  [buttonLink]="''"
></app-hero-section>

<app-page-title title="Our Fleet"></app-page-title>

<section class="fleet-list">
  <div class="fleet-item" *ngFor="let plane of fleet">
    <div class="fleet-image">
      <img [src]="plane.image" [alt]="plane.name" />
    </div>
    <div class="fleet-description">
      <h3>{{ plane.name }}</h3>
      <p>{{ plane.description }}</p>
    </div>
  </div>
</section>
<app-footer></app-footer>
