<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /nimbus-x/
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]
  RewriteRule . /nimbus-x/index.html [L]
</IfModule>

